.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
.idea/cloudwalk-acti.iml
.idea/deployment.xml
.idea/copyright/profiles_settings.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml